.turn > div {
  height: 400px;
}

.turn {
  padding: 20px 0 20px 0;
}

.authorimage {
 max-height: 100%;
}

.book {
  background-color: #F0F7FD;
  border-color: indigo;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 15px solid indigo;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.book:hover {
  background-color:indigo;
  color: white;
}
